.git
.mvn
.config
.m2
.sonar
node
node_modules
package-lock.json
src
webpack
target/cache-loader
target/classes
target/failsafe-reports
target/generated-sources
target/generated-test-sources
target/jacoco
target/jest-cache
target/maven-archiver
target/maven-status
target/sonar
target/ta-3-lim-0.0.1-SNAPSHOT.jar.original
target/test-classes
target/test-results
